{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 80,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["clsx", "cn"],
    "tabWidth": 4,
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "trailingComma": "all",
    "useTabs": false,
    "quoteProps": "consistent",
    "bracketSpacing": true,
    "objectWrap": "preserve",
    "bracketSameLine": false,
    "arrowParens": "always"
}
