@import 'tailwindcss';

@import 'tw-animate-css';

@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/RobotoMonoNerdFont-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme inline {
    --font-sans:
        Instrument Sans, ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-destructive: var(--destructive);
    --color-confirmative: var(--confirmative);
    --color-input: var(--input);
    --color-sidebar: var(--sidebar-background);
    --color-sidebar-foreground: var(--sidebar-foreground);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    body,
    html {
        --font-sans: 'Roboto Mono';
    }
}

:root {
    --background: var(--__black__);
    --foreground: var(--__white__);
    --card: var(--__darker-black__);
    --muted: var(--__brighter-black__);
    --muted-foreground: var(--__gray__);
    --accent: var(--__beige__);
    --destructive: var(--__red__);
    --confirmative: var(--__green__);
    --input: var(--__brighter-black__);
    --sidebar-background: var(--__darker-black__);
    --sidebar-foreground: var(--__white__);

    --__darker-black__: hsl(0 0% 5%);
    --__black__: hsl(0 0% 10%);
    --__brighter-black__: hsl(0 0% 15%);
    --__gray__: hsl(0 0% 65%);
    --__white__: hsl(0 0% 100%);
    --__beige__: hsl(28 40% 70%);
    --__darker-beige__: hsl(28 17% 50%);
    --__green__: hsl(150 35% 61%);
    --__red__: hsl(0 50% 50%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--__brighter-black__) inset !important;
    -webkit-text-fill-color: var(--color-foreground) !important;
    transition: background-color 5000s ease-in-out 0s;
}
